*{
    margin: 0px;
    padding: 0px;
}
body{
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    line-height: 1.7em;
    
}
h1,h2,h3,h4,h5,h6{
    font-family: 'Poppins', sans-serif;
}
img{
    max-width: 100%;
    height: auto;
}
a{
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    
}
a:hover{
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}
/* header strat */
.header{
    width: 100%;
    padding: 10px 0px 30px;
    background: #F0FFF0;
}
.header .navbar-expand-lg .navbar-nav .nav-link{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400px;
    color: black;
    margin: 0px 15px;

}
.header .navbar-expand-lg .navbar-nav .nav-item .btn-success{
    font-family: 'Roboto', sans-serif;
    padding: 8px 25px;
    border-radius: 30px;
    color: #fff;
    background: #21B573;
    margin: 0px 0px 0px 20px;
    transition: 1s;
}
.header .navbar-expand-lg .navbar-nav .nav-item .btn-success:hover{
    background: #FAAF3A;
    border: 1px solid #FAAF3A;
}
/* header end */
/* banner strat */
.banner{
    width: 100%;
    padding: 80px 0px;
}
.inner-banner{
    width: 100%;
    padding: 40px 0px 0px;
}
.inner-banner h4{
    font-size: 11px;
    line-height: 1.4em;
    color: #FD511A;
}
.inner-banner h1{
    font-size: 52px;
    line-height: 1.3em;
    color: #000;
    font-weight: 600px;
}
.inner-banner h1 span{
   color: #21B573;
}
.inner-banner p{
    font-size: 16px;
    font-weight: 400px;
    line-height: 1.7em;
    color: #000;
}
.inner-banner .btn-success{
    font-family: 'Roboto', sans-serif;
    padding: 10px 40px;
    border-radius: 30px;
    color: #fff;
    border: 1px solid #000;
    margin: 10px 0px 0px 0px;
    transition: 1s;
}
.inner-banner .btn-success:hover{
    background: #FAAF3A;
    border: 1px solid #FAAF3A;
}
.feature{
    width: 100%;
    padding: 80px 0px;
}
.feature .inner-feature{
    width: 100%;
    padding: 60px 40px;
    text-align: center;
    background: #F8FFFB;
    border-radius: 10px;
    transition: 1s;
}
.feature .inner-feature img{
    width: 65px;
    height: 85px;
    margin: 0px 0px 20px;
}
.feature .inner-feature h4{
    font-size: 22px;
    line-height: 1.2em;
    font-weight: 500px;
    color: #413960;
    margin: 0px;
}
.feature .inner-feature p{
    font-size: 16px;
    line-height: 1.7em;
    font-weight: 400px;
    color: #585859;
    margin: 0px;
}
.feature .inner-feature:hover{
    background: #FFFFFF;
    box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.1);
}
/* banner end */
/* online corses strat */
.online-courses{
    width: 100%;
    padding: 80px 0px;
}
.online-courses h1{
    text-align: center;
    font-size: 52px;
    line-height: 1.4em;
    font-weight: 700px;
    color: #000;
    margin: 0px 0px 40px;
}
.online-courses .card{
    padding: 20px;
    box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.1);
    border: 0px;
    border-radius: 10px;
}
.online-courses .card .card-img-top{
    
}
.online-courses .card .card-body{
    padding: 10px 0px;
}
.online-courses .card .card-body .card-title{
    text-align: left;
    font-size: 20px;
    line-height: 1.2em;
    font-weight: 700px;
    color: #413960;
    margin: 10px 0px 5px;
}
.online-courses .card .card-body .card-text{
    font-size: 16px;
    line-height: 1.2em;
    font-weight: 400px;
    color: #585859;
    margin: 0px 0px 10px;
}
.online-courses .card .card-body .btn-success{
    font-family: 'Roboto', sans-serif;
    padding: 8px 30px;
    border-radius: 30px;
    color: #fff;
    margin: 10px 0px 15px 0px;
    transition: 1s
}
.online-courses .card .card-body .btn-success:hover{
    background: #FAAF3A;
    border: 1px solid #FAAF3A;
}
.online-courses .card .card-body .info{
    font-size: 16px;
    line-height: 1.7em;
    font-weight: 400px;
    color: #585859;
    margin: 40px 0px 0px;
}
.online-courses .card .card-body .info img{
    width: 14px;
}
.text-right{
    text-align: right;
    /* online course end */
}
/* testimonals strat*/
.testimonial{
    width: 100%;
    padding: 80px 0px;
}
.testimonial h1{
    text-align: center;
    font-size: 52px;
    line-height: 1.4em;
    font-weight: 700px;
    color: #000;
    margin: 0px 0px 40px;
}
.testimonial .client{
    width: 120px;
    height: 120px;
    border-radius: 100%;
}
.text-testimonial{
    font-size: 16px;
    line-height: 1.7em;
    font-weight: 400px;
    color: #000;
    margin: 10px 0px 0px ;
}
/* testimonial strat */

/* footer strat */
.footer{
    width: 100%;
    padding: 80px 0px 0px;
    background: #282531;
}
.footer p{
    font-size: 16px;
    line-height: 1.7em;
    color: #fff;
}
.course{
    width: 100%;
}
.course li{
    list-style: none;
    display: block;
}
.course li a{
    display: block;
    font-family: 'Poppins', sans-serif;
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    line-height: 1.7em;
    font-weight: 400;
    margin: 0px 0px 8px;

}
.course li .active{
    font-weight: 700;
}
.copyright{
    width: 100%;
    padding: 60px 0px 20px;
}
.copyright p{
    font-size: 16px;
    line-height: 1.7em;
    color: #fff;
    text-align: center;
}
/* footer end */


